---
import { getCollection, type CollectionEntry } from "astro:content";
import Blog from "@/layouts/blog.astro";

interface Props {
  page: {
    data: CollectionEntry<"blog">[];
    url: {
      prev: string | undefined;
      next: string | undefined;
    };
  };
}

export async function getStaticPaths({
  paginate,
}: {
  paginate: (
    data: CollectionEntry<"blog">[],
    options: { pageSize: number },
  ) => CollectionEntry<"blog">[];
}): Promise<CollectionEntry<"blog">[]> {
  const posts = await getCollection("blog");
  posts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  return paginate(posts, { pageSize: 10 });
}

const { page } = Astro.props;
---

<Blog title="Blog">
  {
    page.data.map((blog) => (
      <>
        <article class="text-text">
          <div class="space-y-2 not-prose">
            <h1 class="text-4xl font-extrabold tracking-tight lg:text-5xl lg:leading-[3.5rem]">
              {blog.data.title}
            </h1>
            <p class="text-subtext0">
              {new Intl.DateTimeFormat("en-US", {
                year: "numeric",
                month: "long",
                day: "numeric",
              }).format(blog.data.date)}
            </p>
          </div>
          <p>{blog.data.description}</p>
          <a
            class="text-mauve hover:underline mt-4 inline-block"
            href={`blog/${blog.slug}`}
          >
            Read More
          </a>
        </article>
      </>
    ))
  }

  <div class="flex justify-between">
    {
      page.url.prev ? (
        <a href={page.url.prev} class="btn btn-ghost my-10 mx-5">
          {" "}
          <svg
            class="h-6 w-6 fill-current md:h-8 md:w-8"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" />
          </svg>{" "}
          Recent posts
        </a>
      ) : null
    }
    {
      page.url.next ? (
        <a href={page.url.next} class="btn btn-ghost my-10 mx-5">
          Older Posts{" "}
          <svg
            class="h-6 w-6 fill-current md:h-8 md:w-8"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            {" "}
            <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
          </svg>
        </a>
      ) : null
    }
  </div>
</Blog>
