---
import { getCollection, type CollectionEntry } from "astro:content";
import Blog from "@/layouts/blog.astro";
import type { BlogSchema } from "@/content/config";
import { CodeBlock } from "@/components/code-block";

interface Props {
  entry: CollectionEntry<"blog">;
}

export async function getStaticPaths() {
  const blogs = await getCollection("blog");
  return blogs.map((data) => ({
    params: { slug: data.slug },
    props: { entry: data },
  }));
}
const { entry } = Astro.props;
const post: BlogSchema = entry.data;
const { Content } = await entry.render();
---

<Blog title={post.title}>
  <article class="text-text">
    <div class="not-prose space-y-2">
      <h1
        transition:name={`blog-title-${entry.slug}`}
        class="text-4xl font-extrabold tracking-tight lg:text-5xl lg:leading-[3.5rem]"
      >
        {post.title}
      </h1>
      <p transition:name={`blog-date-${entry.slug}`} class="text-subtext0">
        {
          new Intl.DateTimeFormat("en-US", {
            year: "numeric",
            month: "long",
            day: "numeric",
          }).format(post.date)
        }
      </p>
    </div>
    <Content
      components={{ pre: CodeBlock }}
      transition:name={`blog-content-${entry.slug}`}
    />
  </article>
</Blog>
