---
import Shell from "@/layouts/shell.astro";
import {
  experiences,
  skills,
  certifications,
  projects,
  name,
  imageAlt,
  headline,
  socials,
} from "@/data/site.json";

const email = socials.filter((x) => x.platform === "Email")[0];
const resume = socials.filter((x) => x.platform === "Resume")[0];
---

<Shell title="Home">
  <!-- Hero Section -->
  <section class="mb-6 flex flex-col items-center px-4 py-20 text-center">
    <div class="group relative mx-auto h-48 w-48">
      <div
        class="absolute inset-0 animate-tilt rounded-full bg-gradient-to-br from-lavender to-mauve opacity-75 blur-xl transition duration-200 group-hover:opacity-100"
      >
      </div>
      <img
        class="relative rounded-full border-4 border-text"
        src="/.vercel/profile.webp"
        alt={imageAlt}
      />
    </div>
    <h1 class="mt-10 text-5xl font-bold">{name}</h1>
    <p class="mt-4 text-lg">
      {headline}
    </p>
    <div class="mt-6 flex flex-col gap-6 md:flex-row">
      <a
        href={resume.url}
        aria-label={resume.platform}
        class="w-48 rounded-full border-4 border-text px-6 py-4 text-center text-lg font-semibold transition hover:bg-text hover:text-base hover:text-lg"
        >{resume.platform}</a
      >
      <a
        href={email.url}
        aria-label={email.platform}
        class="w-48 rounded-full border-4 border-text bg-text px-6 py-4 text-center text-base text-lg font-semibold transition hover:bg-base hover:text-text"
        >{email.platform}</a
      >
    </div>
  </section>

  <!-- Skills Section -->
  <section class="py-12">
    <h2 class="text-center text-4xl font-bold">My Skills</h2>
    <div class="mx-4 mt-8 flex flex-wrap justify-center gap-6 md:mx-32">
      {
        skills.map((skill) => (
          <>
            {skill.items.map((item) => (
              <span class="me-2 rounded-full border-2 border-transparent bg-surface0 px-3 py-1 text-lg font-medium transition hover:border-text">
                {item}
              </span>
            ))}
          </>
        ))
      }
    </div>
  </section>

  <!-- Projects Section -->
  <section class="py-12">
    <h2 class="text-center text-4xl font-bold">My Projects</h2>
    <div
      class="mx-8 mt-8 grid justify-center gap-6 md:grid-cols-2 lg:mx-auto lg:w-fit xl:grid-cols-4"
    >
      {
        projects.map((skill) => (
          <div class="mx-auto flex w-full flex-col rounded-lg bg-surface0 p-8 text-text lg:w-80">
            <h3 class="mb-1 text-2xl font-bold">{skill.name}</h3>
            <p class="mb-4 text-lg">{skill.desc}</p>
            <a
              href={skill.url}
              rel="noopener noreferrer nofollow"
              target="_blank"
              aria-label="View Project"
              class="w-32 gap-2 place-self-center rounded-lg bg-mantle p-3 text-center transition hover:text-mauve"
            >
              View
            </a>
          </div>
        ))
      }
    </div>
  </section>

  <!-- Experience Section -->
  <section class="flex flex-col items-center justify-center py-12">
    <h2 class="text-center text-4xl font-bold">My Experience</h2>
    <div
      class="relative mx-8 mt-8 before:absolute before:inset-0 before:h-full before:w-0.5 before:-translate-x-px before:bg-gradient-to-b before:from-transparent before:via-overlay2 before:to-transparent"
    >
      {
        experiences.map((experience) => (
          <div class="relative mb-10 ml-10 flex min-h-40 transform cursor-pointer flex-row items-center space-y-0 rounded-lg bg-surface0 px-10 py-8 transition">
            <i class="absolute -left-10 z-10 mt-0 h-5 w-5 -translate-x-2/4 transform rounded-full bg-overlay2" />
            <i class="absolute -left-10 z-0 h-1 w-10 bg-overlay2" />
            <div class="flex-auto">
              <h1 class="text-xl font-bold">{experience.title}</h1>
              <h1 class="text-blue">{experience.company}</h1>
              <h3>{experience.duration}</h3>
            </div>
          </div>
        ))
      }
    </div>
  </section>

  <!-- Certifications Section -->
  <section class="flex flex-col items-center justify-center py-12">
    <h2 class="text-center text-4xl font-bold">My Certifications</h2>
    <div
      class="mx-8 mt-8 grid justify-center gap-6 md:grid-cols-2 lg:mx-auto lg:w-fit xl:grid-cols-4"
    >
      {
        certifications.map((certification) => (
          <div class="flex w-80 flex-col items-center rounded-lg bg-surface0 p-8">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-12 w-12"
              fill="currentColor"
              viewBox="0 0 384 512"
            >
              <path d="M173.8 5.5c11-7.3 25.4-7.3 36.4 0L228 17.2c6 3.9 13 5.8 20.1 5.4l21.3-1.3c13.2-.8 25.6 6.4 31.5 18.2l9.6 19.1c3.2 6.4 8.4 11.5 14.7 14.7L344.5 83c11.8 5.9 19 18.3 18.2 31.5l-1.3 21.3c-.4 7.1 1.5 14.2 5.4 20.1l11.8 17.8c7.3 11 7.3 25.4 0 36.4L366.8 228c-3.9 6-5.8 13-5.4 20.1l1.3 21.3c.8 13.2-6.4 25.6-18.2 31.5l-19.1 9.6c-6.4 3.2-11.5 8.4-14.7 14.7L301 344.5c-5.9 11.8-18.3 19-31.5 18.2l-21.3-1.3c-7.1-.4-14.2 1.5-20.1 5.4l-17.8 11.8c-11 7.3-25.4 7.3-36.4 0L156 366.8c-6-3.9-13-5.8-20.1-5.4l-21.3 1.3c-13.2 .8-25.6-6.4-31.5-18.2l-9.6-19.1c-3.2-6.4-8.4-11.5-14.7-14.7L39.5 301c-11.8-5.9-19-18.3-18.2-31.5l1.3-21.3c.4-7.1-1.5-14.2-5.4-20.1L5.5 210.2c-7.3-11-7.3-25.4 0-36.4L17.2 156c3.9-6 5.8-13 5.4-20.1l-1.3-21.3c-.8-13.2 6.4-25.6 18.2-31.5l19.1-9.6C65 70.2 70.2 65 73.4 58.6L83 39.5c5.9-11.8 18.3-19 31.5-18.2l21.3 1.3c7.1 .4 14.2-1.5 20.1-5.4L173.8 5.5zM272 192a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM1.3 441.8L44.4 339.3c.2 .1 .3 .2 .4 .4l9.6 19.1c11.7 23.2 36 37.3 62 35.8l21.3-1.3c.2 0 .5 0 .7 .2l17.8 11.8c5.1 3.3 10.5 5.9 16.1 7.7l-37.6 89.3c-2.3 5.5-7.4 9.2-13.3 9.7s-11.6-2.2-14.8-7.2L74.4 455.5l-56.1 8.3c-5.7 .8-11.4-1.5-15-6s-4.3-10.7-2.1-16zm248 60.4L211.7 413c5.6-1.8 11-4.3 16.1-7.7l17.8-11.8c.2-.1 .4-.2 .7-.2l21.3 1.3c26 1.5 50.3-12.6 62-35.8l9.6-19.1c.1-.2 .2-.3 .4-.4l43.2 102.5c2.2 5.3 1.4 11.4-2.1 16s-9.3 6.9-15 6l-56.1-8.3-32.2 49.2c-3.2 5-8.9 7.7-14.8 7.2s-11-4.3-13.3-9.7z" />
            </svg>
            <h3 class="mb-4 mt-2 text-center text-lg font-bold">
              {certification.title}
            </h3>
            <a
              class="w-32 gap-2 place-self-center rounded-lg bg-mantle p-3 text-center transition hover:text-mauve"
              href={certification.link}
              target="_blank"
            >
              View
            </a>
          </div>
        ))
      }
    </div>
  </section>
</Shell>
