---
import Shell from "@layouts/shell.astro";

let experiences = [
  {
    title: "Director, Software Engineering",
    company: "LeaseAccelerator",
    duration: "May 2023 - Present",
    description: "Developed XYZ features using ABC technology.",
  },
  {
    title: "Software Engineering Manager",
    company: "Deloitte",
    duration: "Apr 2017 - May 2023",
    description: "Worked on XYZ project and learned ABC skills.",
  },
  {
    title: "Development Lead",
    company: "EffiaSoft",
    duration: "Mar 2014 - Mar 2017",
    description: "Worked on XYZ project and learned ABC skills.",
  },
  {
    title: "Junior Developer",
    company: "La Exactlly Software",
    duration: "Nov 2009 - Mar 2014",
    description: "Worked on XYZ project and learned ABC skills.",
  },
];

let skills = [
  {
    category: "Frontend",
    items: "HTML, CSS, JavaScript, React, Vue, etc.",
  },
  {
    category: "Backend",
    items: "Node.js, Express, Django, etc.",
  },
  {
    category: "Database",
    items: "MySQL, PostgreSQL, MongoDB, etc.",
  },
  {
    category: "Cloud",
    items: "MySQL, PostgreSQL, MongoDB, etc.",
  },
];

let certifications = [
  {
    title: "Exam 480: Programming in HTML5 with JavaScript and CSS3",
    issuer: "Microsoft",
    link: "https://www.credly.com/badges/d483fb39-c9d5-4ea3-8417-6d3540368365",
    logo: `<svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="currentColor" viewBox="0 0 448 512"><path d="M0 32h214.6v214.6H0V32zm233.4 0H448v214.6H233.4V32zM0 265.4h214.6V480H0V265.4zm233.4 0H448V480H233.4V265.4z"/></svg>`,
  },
  {
    title: "Exam 486: Developing ASP.NET MVC Web Applications",
    issuer: "Microsoft",
    link: "https://www.credly.com/badges/1bf39776-b4ff-4847-9172-a1055cb2c332",
    logo: `<svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="currentColor" viewBox="0 0 448 512"><path d="M0 32h214.6v214.6H0V32zm233.4 0H448v214.6H233.4V32zM0 265.4h214.6V480H0V265.4zm233.4 0H448V480H233.4V265.4z"/></svg>`,
  },
  {
    title: "MCSA: Web Applications - Certified 2018",
    issuer: "Microsoft",
    link: "https://www.credly.com/badges/53bb8578-9e58-496f-92da-1534628fe3aa",
    logo: `<svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="currentColor" viewBox="0 0 448 512"><path d="M0 32h214.6v214.6H0V32zm233.4 0H448v214.6H233.4V32zM0 265.4h214.6V480H0V265.4zm233.4 0H448V480H233.4V265.4z"/></svg>`,
  },
  {
    title: "MCSD: App Builder — Certified 2018",
    issuer: "Microsoft",
    link: "https://www.credly.com/badges/39b8d1b7-8d82-47d0-8f48-24de872a087a",
    logo: `<svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="currentColor" viewBox="0 0 448 512"><path d="M0 32h214.6v214.6H0V32zm233.4 0H448v214.6H233.4V32zM0 265.4h214.6V480H0V265.4zm233.4 0H448V480H233.4V265.4z"/></svg>`,
  },
  {
    title: "Exam 483: Programming in C#",
    issuer: "Microsoft",
    link: "https://www.credly.com/badges/7e2ad23d-6cac-4748-83e9-d4c7fee7a83c",
    logo: `<svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="currentColor" viewBox="0 0 448 512"><path d="M0 32h214.6v214.6H0V32zm233.4 0H448v214.6H233.4V32zM0 265.4h214.6V480H0V265.4zm233.4 0H448V480H233.4V265.4z"/></svg>`,
  },
  // Add more certifications as needed
];
---

<Shell title="Home">
  <!-- Hero Section -->
  <section class="bg-banner bg-360 animate-banner text-base text-center py-20">
    <h1 class="text-5xl font-bold">Soham Dasgupta</h1>
    <p class="text-xl mt-4">
      Technology Leader | Enterprise Architect | Full-Stack Developer |
      Open-Source Enthusiast
    </p>
    <img
      class="mx-auto rounded-full h-48 w-48 mt-8 border-4 border-surface0"
      src="/profile.webp"
      alt="Soham Dasgupta"
    />
  </section>

  <!-- Skills Section -->
  <section class="py-20">
    <h2 class="text-4xl font-bold text-center">My Skills</h2>
    <div class="flex flex-wrap justify-center mt-8 gap-2">
      {
        skills.map((skill) => (
          <div class="mx-2 p-8 bg-surface0 w-80 text-text rounded-lg">
            <h3 class="text-2xl font-bold">{skill.category}</h3>
            <p class="text-subtext0">{skill.items}</p>
          </div>
        ))
      }
    </div>
  </section>

  <!-- Experience Section -->
  <section class="py-20 bg-surface0">
    <h2 class="text-4xl font-bold text-center">My Experience</h2>
    <div class="w-full mt-8 flex items-center">
      <div class="flex flex-col grid grid-cols-9 mx-auto p-2">
        {
          experiences.map((experience, index) => (
            <>
              {index % 2 === 1 && (
                <div class="col-start-5 col-end-6 mr-10 mx-auto relative">
                  <div class="h-full w-6 flex items-center justify-center">
                    <div class="h-full w-1 bg-overlay2 pointer-events-none" />
                  </div>
                  <div class="w-6 h-6 absolute top-1/2 -mt-3 rounded-full bg-mauve" />
                </div>
              )}
              <div
                class={`${
                  index % 2 === 0
                    ? "col-start-1 col-end-5 mr-auto"
                    : "col-start-6 col-end-10 ml-auto"
                }  bg-base p-8 rounded-xl my-4 w-96`}
              >
                <h3 class="font-semibold text-lg mb-1">{experience.title}</h3>
                <h4 class="text-subtext0 mb-1">{experience.company}</h4>
                <h5 class="text-subtext0 mb-1">{experience.duration}</h5>
              </div>
              {index % 2 === 0 && (
                <div class="col-start-5 col-end-6 mr-10 mx-auto relative">
                  <div class="h-full w-6 flex items-center justify-center">
                    <div class="h-full w-1 bg-overlay2 pointer-events-none" />
                  </div>
                  <div class="w-6 h-6 absolute top-1/2 -mt-3 rounded-full bg-mauve" />
                </div>
              )}
            </>
          ))
        }
      </div>
    </div>
  </section>

  <!-- Certifications Section -->
  <section class="py-20 bg-mantle flex flex-col justify-center items-center">
    <h2 class="text-4xl font-bold text-center">My Certifications</h2>
    <div class="mt-8 grid grid-cols-3 gap-20 text-center">
      {
        certifications.map((certification) => (
          <div class="text-text flex flex-col items-center w-80">
            <span set:html={certification.logo} />
            <h3 class="font-bold text-lg mt-2">{certification.title}</h3>
            <a
              class="text-subtext0 mt-1 flex gap-2 items-center"
              href={certification.link}
              target="_blank"
            >
              View Certification
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4"
                fill="currentColor"
                viewBox="0 0 512 512"
              >
                <path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z" />
              </svg>
            </a>
          </div>
        ))
      }
    </div>
  </section>
</Shell>
