---
import Shell from "@/layouts/shell.astro";
import {
  experiences,
  skills,
  certifications,
  projects,
  name,
  imageAlt,
  headline,
  socials,
} from "@/data/site.json";

const email = socials.filter((x) => x.platform === "Email")[0];
const resume = socials.filter((x) => x.platform === "Resume")[0];
---

<Shell title="Home">
  <!-- Hero Section -->
  <section class="flex flex-col text-center items-center px-4 py-20 mb-6">
    <div class="relative mx-auto h-48 w-48 group">
      <div
        class="absolute inset-0 bg-gradient-to-br from-lavender to-mauve rounded-full blur-xl opacity-75 group-hover:opacity-100 transition duration-200 animate-tilt"
      >
      </div>
      <img
        class="rounded-full border-4 border-text relative"
        src="/profile.webp"
        alt={imageAlt}
      />
    </div>
    <h1 class="text-5xl font-bold mt-10">{name}</h1>
    <p class="text-lg mt-4">
      {headline}
    </p>
    <div class="flex flex-col md:flex-row mt-6 gap-6">
      <a
        href={resume.url}
        aria-label={resume.platform}
        class="transition px-6 py-4 font-semibold border-4 border-text rounded-full hover:text-base hover:bg-text text-center w-48"
        >{resume.platform}</a
      >
      <a
        href={email.url}
        aria-label={email.platform}
        class="transition px-6 py-4 font-semibold border-4 border-text rounded-full bg-text text-base hover:text-text hover:bg-base text-center w-48"
        >{email.platform}</a
      >
    </div>
  </section>

  <!-- Skills Section -->
  <section class="py-20">
    <h2 class="text-4xl font-bold text-center">My Skills</h2>
    <div
      class="grid md:grid-cols-2 xl:grid-cols-4 justify-center mx-8 lg:w-fit lg:mx-auto gap-6 mt-8"
    >
      {
        skills.map((skill) => (
          <div class="mx-auto p-8 bg-surface0 text-text w-full lg:w-80 rounded-lg">
            <h3 class="text-2xl mb-1 font-bold">{skill.category}</h3>
            <p class="text-subtext0">{skill.items}</p>
          </div>
        ))
      }
    </div>
  </section>

  <!-- Projects Section -->
  <section class="py-20">
    <h2 class="text-4xl font-bold text-center">My Projects</h2>
    <div
      class="grid md:grid-cols-2 xl:grid-cols-4 justify-center mx-8 lg:w-fit lg:mx-auto gap-6 mt-8"
    >
      {
        projects.map((skill) => (
          <div class="mx-auto flex flex-col p-8 bg-surface0 w-full lg:w-80 text-text rounded-lg">
            <h3 class="text-2xl mb-1 font-bold">{skill.name}</h3>
            <p class="text-subtext0 mb-4">{skill.desc}</p>
            <a
              href={skill.url}
              rel="noopener noreferrer nofollow"
              target="_blank"
              aria-label="View Project"
              class="transition place-self-center text-center text-subtext0 rounded-lg bg-mantle w-32 p-3 gap-2 hover:text-mauve"
            >
              View
            </a>
          </div>
        ))
      }
    </div>
  </section>

  <!-- Experience Section -->
  <section class="py-20 flex flex-col justify-center items-center">
    <h2 class="text-4xl font-bold text-center">My Experience</h2>
    <div
      class="mt-8 mx-6 xl:w-1/2 space-y-8 relative before:absolute before:inset-0 before:ml-[0.75rem] before:-translate-x-px xl:before:mx-auto xl:before:translate-x-0 before:h-full before:w-0.5 before:bg-gradient-to-b before:from-transparent before:via-overlay2 before:to-transparent"
    >
      {
        experiences.map((experience) => (
          <div class="relative flex items-center justify-between xl:justify-normal xl:odd:flex-row-reverse group">
            <div class="flex w-6 h-6 rounded-full bg-overlay2 xl:order-1 xl:group-odd:-translate-x-1/2 xl:group-even:translate-x-1/2" />
            <div class="w-[calc(100%-4rem)] xl:w-[calc(50%-1.5rem)] h-40 flex items-center bg-surface0 p-8 rounded-lg">
              <section>
                <div class="font-bold text-lg mb-1">{experience.title}</div>
                <time class="font-caveat font-medium text-blue">
                  {experience.company}
                </time>
                <div class="text-subtext0 text-sm">{experience.duration}</div>
              </section>
            </div>
          </div>
        ))
      }
    </div>
  </section>

  <!-- Certifications Section -->
  <section class="py-20 flex flex-col justify-center items-center">
    <h2 class="text-4xl font-bold text-center">My Certifications</h2>
    <div
      class="grid md:grid-cols-2 xl:grid-cols-4 justify-center mx-8 lg:w-fit lg:mx-auto gap-6 mt-8"
    >
      {
        certifications.map((certification) => (
          <div class="flex flex-col items-center w-80 rounded-lg bg-surface0 p-8">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-12 w-12"
              fill="currentColor"
              viewBox="0 0 384 512"
            >
              <path d="M173.8 5.5c11-7.3 25.4-7.3 36.4 0L228 17.2c6 3.9 13 5.8 20.1 5.4l21.3-1.3c13.2-.8 25.6 6.4 31.5 18.2l9.6 19.1c3.2 6.4 8.4 11.5 14.7 14.7L344.5 83c11.8 5.9 19 18.3 18.2 31.5l-1.3 21.3c-.4 7.1 1.5 14.2 5.4 20.1l11.8 17.8c7.3 11 7.3 25.4 0 36.4L366.8 228c-3.9 6-5.8 13-5.4 20.1l1.3 21.3c.8 13.2-6.4 25.6-18.2 31.5l-19.1 9.6c-6.4 3.2-11.5 8.4-14.7 14.7L301 344.5c-5.9 11.8-18.3 19-31.5 18.2l-21.3-1.3c-7.1-.4-14.2 1.5-20.1 5.4l-17.8 11.8c-11 7.3-25.4 7.3-36.4 0L156 366.8c-6-3.9-13-5.8-20.1-5.4l-21.3 1.3c-13.2 .8-25.6-6.4-31.5-18.2l-9.6-19.1c-3.2-6.4-8.4-11.5-14.7-14.7L39.5 301c-11.8-5.9-19-18.3-18.2-31.5l1.3-21.3c.4-7.1-1.5-14.2-5.4-20.1L5.5 210.2c-7.3-11-7.3-25.4 0-36.4L17.2 156c3.9-6 5.8-13 5.4-20.1l-1.3-21.3c-.8-13.2 6.4-25.6 18.2-31.5l19.1-9.6C65 70.2 70.2 65 73.4 58.6L83 39.5c5.9-11.8 18.3-19 31.5-18.2l21.3 1.3c7.1 .4 14.2-1.5 20.1-5.4L173.8 5.5zM272 192a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM1.3 441.8L44.4 339.3c.2 .1 .3 .2 .4 .4l9.6 19.1c11.7 23.2 36 37.3 62 35.8l21.3-1.3c.2 0 .5 0 .7 .2l17.8 11.8c5.1 3.3 10.5 5.9 16.1 7.7l-37.6 89.3c-2.3 5.5-7.4 9.2-13.3 9.7s-11.6-2.2-14.8-7.2L74.4 455.5l-56.1 8.3c-5.7 .8-11.4-1.5-15-6s-4.3-10.7-2.1-16zm248 60.4L211.7 413c5.6-1.8 11-4.3 16.1-7.7l17.8-11.8c.2-.1 .4-.2 .7-.2l21.3 1.3c26 1.5 50.3-12.6 62-35.8l9.6-19.1c.1-.2 .2-.3 .4-.4l43.2 102.5c2.2 5.3 1.4 11.4-2.1 16s-9.3 6.9-15 6l-56.1-8.3-32.2 49.2c-3.2 5-8.9 7.7-14.8 7.2s-11-4.3-13.3-9.7z" />
            </svg>
            <h3 class="font-bold text-center text-lg mb-4 mt-2">
              {certification.title}
            </h3>
            <a
              class="transition place-self-center text-center text-subtext0 rounded-lg bg-mantle w-32 p-3 gap-2 hover:text-mauve"
              href={certification.link}
              target="_blank"
            >
              View
            </a>
          </div>
        ))
      }
    </div>
  </section>
</Shell>
