---
import Page from "@/layouts/page.astro";
import {
  experiences,
  skills,
  recognitions,
  headline,
  name,
} from "@/data/site.json";
---

<Page title="Resume">
  <div class="not-prose bg-surface0 p-8 rounded-lg print:text-sm">
    <!-- Header Section -->
    <section class="flex flex-col items-center text-center mb-8">
      <h1 class="text-4xl font-bold">{name}</h1>
      <p class="text-lg text-subtext0 mt-4">
        {headline}
      </p>
    </section>

    <!-- Skills Section -->
    <section class="mb-8">
      <h2 class="text-2xl font-bold mb-2">Skills</h2>
      <ul class="list-disc pl-5 mt-4">
        {
          skills.map((skill) => (
            <li>
              <div class="flex flex-col print:flex-row print:gap-2 md:flex-row md:gap-2">
                <span class="font-bold">{skill.category}:</span>
                <span>{skill.items}</span>
              </div>
            </li>
          ))
        }
      </ul>
    </section>

    <!-- Experience Section -->
    <section class="mb-8">
      <h2 class="text-2xl font-bold mb-2">Experience</h2>
      {
        experiences.map((experience) => (
          <div class="mb-8">
            <div class="flex flex-col md:flex-row md:gap-2 md:divide-x divide-solid print:flex-row print:gap-2 print:divide-x">
              <h3 class="font-bold">{experience.title}</h3>
              <p class="print:pl-2 md:pl-2">{experience.company}</p>
              <p class="print:pl-2 md:pl-2 italic text-subtext0">
                {experience.location}
              </p>
              <p class="print:pl-2 md:pl-2">{experience.duration}</p>
            </div>
            <ul class="list-disc pl-5 mt-4">
              {experience.description.map((desc) => (
                <li>{desc}</li>
              ))}
            </ul>
          </div>
        ))
      }
    </section>

    <!-- Recognition Section -->
    <section>
      <h2 class="text-2xl font-bold mb-2">Recognition</h2>
      {
        recognitions.map((recognition) => (
          <div class="mt-4">
            <div class="flex justify-between">
              <h3 class="font-bold">{recognition.title}</h3>
              <p class="text-sm">{recognition.date}</p>
            </div>
            <p class="text-subtext0">{recognition.awardedBy}</p>
            <p>{recognition.description}</p>
          </div>
        ))
      }
    </section>
  </div>
</Page>
