---
import Page from "@/layouts/page.astro";
import {
  experiences,
  skills,
  recognitions,
  headline,
  name,
} from "@/data/site.json";
---

<Page title="Resume">
  <div class="not-prose bg-surface0 p-8 rounded-lg print:text-sm relative">
    <!-- Print Button -->
    <button
      class="bg-base text-text rounded-lg absolute right-4 top-4 p-4 hover:text-mauve print:hidden"
      onclick="window.print();"
      aria-label="Print Resume"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4"
        viewBox="0 0 512 512"
        fill="currentColor"
        ><path
          d="M128 0C92.7 0 64 28.7 64 64v96h64V64H354.7L384 93.3V160h64V93.3c0-17-6.7-33.3-18.7-45.3L400 18.7C388 6.7 371.7 0 354.7 0H128zM384 352v32 64H128V384 368 352H384zm64 32h32c17.7 0 32-14.3 32-32V256c0-35.3-28.7-64-64-64H64c-35.3 0-64 28.7-64 64v96c0 17.7 14.3 32 32 32H64v64c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V384zM432 248a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"
        ></path></svg
      >
    </button>

    <!-- Header Section -->
    <section class="flex flex-col items-center text-center mb-8">
      <h1 class="text-4xl font-bold">{name}</h1>
      <p class="text-lg mt-4">
        {headline}
      </p>
    </section>

    <!-- Skills Section -->
    <section class="mb-8">
      <h2 class="text-2xl font-bold mb-2">Skills</h2>
      <ul class="list-disc pl-5 mt-4">
        {
          skills.map((skill) => (
            <li>
              <div class="flex flex-col print:flex-row print:gap-2 md:flex-row md:gap-2">
                <span class="font-bold">{skill.category}:</span>
                <span>{skill.items}</span>
              </div>
            </li>
          ))
        }
      </ul>
    </section>

    <!-- Experience Section -->
    <section class="mb-8">
      <h2 class="text-2xl font-bold mb-2">Experience</h2>
      {
        experiences.map((experience) => (
          <div class="mb-8">
            <div class="flex flex-col md:flex-row md:gap-2 md:divide-x divide-solid print:flex-row print:gap-2 print:divide-x">
              <h3 class="font-bold">{experience.title}</h3>
              <p class="print:pl-2 md:pl-2">{experience.company}</p>
              <p class="print:pl-2 md:pl-2 italic">{experience.location}</p>
              <p class="print:pl-2 md:pl-2">{experience.duration}</p>
            </div>
            <ul class="list-disc pl-5 mt-4">
              {experience.description.map((desc) => (
                <li>{desc}</li>
              ))}
            </ul>
          </div>
        ))
      }
    </section>

    <!-- Recognition Section -->
    <section>
      <h2 class="text-2xl font-bold mb-2">Recognition</h2>
      {
        recognitions.map((recognition) => (
          <div class="mt-4">
            <div class="flex justify-between">
              <h3 class="font-bold">{recognition.title}</h3>
              <p class="text-sm">{recognition.date}</p>
            </div>
            <p>{recognition.awardedBy}</p>
            <p>{recognition.description}</p>
          </div>
        ))
      }
    </section>
  </div>
</Page>
