---
import { AstroFont } from "astro-font";
import Header from "@/components/header.astro";
import Footer from "@/components/footer.astro";
import { siteTitle, siteDescription, imageAlt } from "@/data/site.json";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
const ogImageURL = new URL("/profile.webp", Astro.url);
const sitemapURL = new URL("/sitemap-index.xml", Astro.url);
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const pageTitle = `${title} | ${siteTitle}`;
---

<html
  data-theme="catppuccin-frappe"
  class="scroll-smooth antialiased"
  lang="en"
>
  <head>
    <ViewTransitions />
    <meta charset="utf-8" />
    <meta name="description" content={pageTitle} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en" />
    <meta property="og:image" content={ogImageURL} />
    <meta property="og:image:alt" content={imageAlt} />
    <meta property="og:image:secure_url" content={ogImageURL} />
    <meta property="og:image:type" content="image/webp" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="500" />
    <meta property="og:description" content={siteDescription} />
    <meta property="og:url" content={canonicalURL} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@thesobercoder" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={siteDescription} />
    <meta name="twitter:image" content={ogImageURL} />
    <meta name="twitter:image:alt" content={imageAlt} />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={canonicalURL} />
    <link rel="sitemap" href={sitemapURL} />
    <link rel="icon" type="image/webp" href={ogImageURL} />
    <meta
      name="theme-color"
      content="#eff1f5"
      media="(prefers-color-scheme: light)"
    />
    <meta
      name="theme-color"
      content="#303446"
      media="(prefers-color-scheme: dark)"
    />
    <title>{pageTitle}</title>
    <style>
      @media print {
        @page {
          margin-top: 2rem;
          margin-bottom: 2rem;
          margin-left: 0;
          margin-right: 0;
          padding: 0;
        }
        body {
          margin: 0;
          padding: 0;
        }
      }
    </style>
    <AstroFont
      config={[
        {
          src: [],
          name: "Inter",
          preload: false,
          display: "swap",
          fallback: "sans-serif",
          cssVariable: "font-inter",
          googleFontsURL:
            "https://fonts.googleapis.com/css2?family=Inter&display=swap",
        },
      ]}
    />
  </head>

  <body class="min-w-screen flex min-h-screen flex-col">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
